@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("fonts/AtkinsonHyperlegibleNext/AtkinsonHyperlegibleNext.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk/SpaceGrotesk.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-proportional: "Atkinson Hyperlegible Next", sans-serif;
  --font-monospace: "Atkinson Hyperlegible Mono", monospace;
  --font-caps: "Space Grotesk", "Atkinson Hyperlegible Next", sans-serif;
}
